{#
 # SPDX-FileCopyrightText: 2025 David Mandelberg <david@mandelberg.org>
 #
 # SPDX-License-Identifier: CC0-1.0 OR Apache-2.0
-#}

<table>
  <thead>
    <tr>
      <th rowspan="2" scope="col">Group/Script</th>
      <th colspan="2" scope="col">Mnemonic</th>
      <th rowspan="2" scope="col">Result</th>
    </tr>
    <tr>
      <th scope="col">Prefix</th>
      <th></th>
    </tr>
  </thead>
  {%- for group_id, group in data | dictsort(case_sensitive=true)
      if group.examples %}
    <tbody>
      {%- for mnemonic, result in group.examples.items() %}
        <tr>
          {%- if loop.first %}
            <th rowspan="{{ group.examples | length }}" scope="rowgroup">
              <a href="unimnim/data/{{ group_id | escape }}.toml">
                {{ group.name | escape }}
              </a>
            </th>
            <td rowspan="{{ group.examples | length }}">
              <kbd>{{ group.prefix | escape }}</kbd>
            </td>
          {%- endif %}
          <td><kbd>{{ mnemonic | escape }}</kbd></td>
          <td dir="auto">{{ result | escape }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  {%- endfor %}
</table>
